<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/about.css" />
    <!-- axios 사용 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>우리들의 사용량 보기</title>
  </head>
  <body>
    <header id="header">
      <div class="desktopHeader">
        <div class="logo">
          <a href="/">SaveTheWorld</a>
        </div>
        <nav>
          <li><a href="#">소개</a></li>
          <li><a href="/usage">우리들의 사용량</a></li>
          <li><a class="loginText" href="/login">로그인</a></li>
        </nav>
      </div>
    </header>

    <div class="line_wrap">소개</div>

    <section class="section" id="section">
      <article class="article" id="article">
        <div class="logoBack">
          <div class="logo">
            <div>Save</div>
            <div>Together</div>
          </div>
        </div>
        <div class="textBack">
          <h1 class="text1">SaveTheWorld는</h1>
          <h1 class="text2">쓰레기 남용을 줄여</h1>
          <h1 class="text3">우리지구를 지키기 위한 사이트입니다.</h1>
        </div>
      </article>
    </section>

    <footer id="footer">
      <div class="footerText">문의 : sammy342@naver.com</div>
    </footer>
  </body>
</html>

<script src="/js/login.js"></script>
