<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- css 연결 -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Palette+Mosaic&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/8ddf9e168a.js"
      crossorigin="anonymous"
    ></script>
    <!-- axios 사용 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>지구를 아낍시다</title>
  </head>
  <body>
    <header id="header">
      <div class="desktopHeader">
        <div class="logo">
          <a href="/">SaveTheWorld</a>
        </div>
        <nav>
          <li><a href="/about">소개</a></li>
          <li><a href="/usage?id=1">우리들의 사용량</a></li>
          <div class="loginId">
            <% if(nickname){%>
            <span class="loging"><%=nickname%>님 환영합니다.</span>
            <span class="logout"
              ><a href="/logout"
                ><i class="fa-solid fa-right-from-bracket"></i></a
            ></span>
            <%} else {%>
            <li><a href="/login">로그인</a></li>
            <%}%>
          </div>
        </nav>
      </div>
    </header>

    <div class="main_wrap">
      <img src="/images/background.jpg" alt="배경화면" />
      <section>
        <div class="content">
          <h2>Save the World</h2>
          <h2>Save the World</h2>
        </div>
      </section>
    </div>
    <!-- main_wrap -->

    <div class="intro_wrapper">
      <div class="intro_wrap">
        <img src="/images/smallimage.jpg" alt="메인" class="intro_img" />
        <div class="intro">
          <div class="intro_title">Save the World</div>
          <div class="intro_sub">
            <span>Save the World</span>를 만든 취지는 조금이나마 일회용품의
            남용을 줄이기 위함이다. <br />일회용품을 얼마나 사용한지 수치화를
            통해 "우리들"의 일회용품 사용량을 확인하여 하루하루 쓰레기를 조금씩
            <br />줄여나가는 것에 도움이 되는 것이 이 웹의 목표이다
          </div>
        </div>
      </div>
    </div>
    <!--  intro_wrapper  -->
    <footer id="footer">
      <div class="footerText">문의 : sammy342@naver.com</div>
    </footer>
  </body>
</html>
