<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="shortcut icon" href="#" />
    <!-- axios 사용 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>우리들의 사용량 보기</title>
  </head>
  <body>
    <header id="header">
      <div class="desktopHeader">
        <div class="logo">
          <a href="/">SaveTheWorld</a>
        </div>
        <nav>
          <li><a href="#">소개</a></li>
          <li><a href="#">우리들의 사용량</a></li>
          <li><a class="loginText" href="/login">로그인</a></li>
        </nav>
      </div>
    </header>

    <div class="line_wrap">로그인</div>

    <div class="login_wrap">
      <form action="" method="post">
        <div class="login">
          <label for="id">아이디</label>
          <input type="text" id="id" name="id" placeholder="ID" />
          <label for="pwd">비밀번호</label>
          <input type="password" id="pwd" name="pwd" placeholder="Password" />
          <div class="check">
            <button type="button" id="loginBtn">로그인</button>
            <a href="/signUp" class="link">회원가입</a>
            <button type="button" class="naver">
              <img src="/images/naver.svg" alt="" />
              <a href="http://localhost:3000/login/naver">네이버 로그인</a>
            </button>
            <button type="button" class="kakao">
              <a href="http://localhost:3000/login/kakao">카카오 로그인</a>
              <img src="/images/kakao.svg" alt="" />
            </button>
            <button type="button" class="google">
              <a href="http://localhost:3000/login/google">구글 로그인</a>
              <img src="/images/google.svg" alt="" />
            </button>
            <div class="find">
              <a href="/findId">아이디 찾기</a>
              <a href="/findPw">비밀번호 찾기</a>
            </div>
          </div>
        </div>
      </form>
    </div>

    <footer id="footer">
      <div class="footerText">문의 : sammy342@naver.com</div>
    </footer>
  </body>
</html>

<script src="/js/login.js"></script>
