/*******  header  ********/
header {
  width: 100%;
}

header .desktopHeader {
  display: flex;
  padding: 15px;
  justify-content: space-between;
}

header .desktopHeader .logo {
  padding: 0 10px;
}

header .desktopHeader .logo a {
  font-family: 'Fredoka One', cursive;
  color: black;
  font-size: 40px;
}

header .desktopHeader nav {
  display: flex;
  align-items: center;
}
header .desktopHeader nav li {
  padding: 0 20px;
}

header .desktopHeader nav li:hover {
  border-bottom: 3px solid black;
  transition: 0.1s linear;
}

header .desktopHeader nav li a {
  font-size: 1.3rem;
  color: black;
}

header .desktopHeader .login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 16vw;
}

header .desktopHeader .login .name {
  color: rgb(170, 169, 169);
  font-size: 1rem;
}

header .desktopHeader .login .fa-solid {
  color: black;
  margin-left: 10px;
  font-size: 1.5rem;
}

header .desktopHeader .login a {
  font-size: 1.5rem;
  padding: 0 0.5rem;
  color: black;
  cursor: pointer;
}

header .desktopHeader .login .loginText:hover {
  border-bottom: 3px solid black;
  transition: 0.1s linear;
}

.loginId .loging {
  font-weight: bold;
  font-size: 1.1rem;
}
/**  line_wrap  ***/
.line_wrap {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  text-align: center;
  padding: 20px 0;
  font-weight: bold;
  font-size: 25px;
}

/******  section  *******/
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section .title {
  margin: 60px 0 15px 0;
}

.section .type {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 20px 0;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.section .type .table {
  width: 100%;
}

.section .type .table,
th,
td {
  border: 1px solid #000;
  text-align: center;
  height: 40px;
  border: 2px solid #000;
  border-collapse: collapse;
}

.table tr td:nth-child(1) {
  width: 70px;
  font-weight: bold;
}

.table tr td:nth-child(2) {
  width: 140px;
}

.table tr td:nth-child(3) {
  width: 100px;
  font-weight: bold;
}

.table tr td:nth-child(4) {
  width: 300px;
}

.table tr td:nth-child(5) {
  width: 100px;
  font-weight: bold;
}

.table tr td:nth-child(6) {
  width: 150px;
}

.section .content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-top: 10px;
}

.content textarea {
  resize: none;
  border: none;
  padding: 20px 0;
  line-height: 30px;
  font-size: 20px;
  margin: 20px 0;
  width: 90%;
}

.section .listBtn {
}

.listBtn button {
  width: 150px;
  border-radius: 10px;
  padding: 10px 0;
  cursor: pointer;
  margin: 20px 0;
  border: none;
}

.listBtn button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.listBtn a {
  padding: 10px 50px;
}
/*******  footer  ********/
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 120px;
}

footer .footerText {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 700;
}
