/*******  header  ********/
header {
  width: 100%;
}

header .desktopHeader {
  display: flex;
  padding: 15px;
  justify-content: space-between;
}

header .desktopHeader .logo {
  padding: 0 10px;
}

header .desktopHeader .logo a {
  font-family: 'Fredoka One', cursive;
  color: black;
  font-size: 40px;
}

header .desktopHeader nav {
  display: flex;
  align-items: center;
}
header .desktopHeader nav li {
  padding: 0 20px;
}

header .desktopHeader nav li:hover {
  border-bottom: 3px solid black;
  transition: 0.1s linear;
}

header .desktopHeader nav li a {
  font-size: 1.3rem;
  color: black;
}

header .desktopHeader .login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 16vw;
}

header .desktopHeader .login .name {
  color: rgb(170, 169, 169);
  font-size: 1rem;
}

header .desktopHeader .login .fa-solid {
  color: black;
  margin-left: 10px;
  font-size: 1.5rem;
}

header .desktopHeader .login a {
  font-size: 1.5rem;
  padding: 0 0.5rem;
  color: black;
  cursor: pointer;
}

header .desktopHeader .login .loginText:hover {
  border-bottom: 3px solid black;
  transition: 0.1s linear;
}

/**  line_wrap  ***/
.line_wrap {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  text-align: center;
  padding: 20px 0;
  font-weight: bold;
  font-size: 25px;
}

/******  sign_wrap  *******/
.sign_wrap {
  height: 58vh;
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign_wrap .sign {
  width: 400px;
  height: 45px;
  line-height: 45px;
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.sign label {
  font-size: 18px;
  font-weight: bold;
  animation: title 2s 1 forwards;
}

.sign input {
  width: 75%;
  text-align: center;
  font-size: 18px;
}

.modify {
  display: block !important;
}

.mo1 {
  width: 50% !important;
  margin-left: 39px;
  padding: 10px;
}

.mo2 {
  width: 20% !important;
  padding: 10px;
  font-size: 17px !important;
}

.check {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.check button {
  height: 40px;
  border-radius: 10px;
  background-color: #d3d3d3;
  border: none;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  width: 400px;
  margin-left: 0px;
  cursor: pointer;
  transition: transform 250ms;
  margin-top: 20px;
}
/*******  footer  ********/
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 120px;
}

footer .footerText {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 700;
}
